# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/
venv/

# Archivos de configuración
*.env
.env.*

# Archivos de base de datos
*.db
*.sqlite3

# Archivos de Docker
.dockerignore
docker-compose.yml
Dockerfile

# Otros
.DS_Store

subida.xlsx
